body{
    background:linear-gradient(to right rgba(224,89,0)0%,orange 45%  ) ;
}
.input{
    display: grid;
  text-align: center;
    justify-content: center;
    margin-bottom: 2rem;
}
h2{
    padding-bottom: 10px;
}
.input input{
    border: none;
    padding: 2px;
    text-align: center;
    border-radius: 2px;
  outline: none;
}
